* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
}

.clock {
  color: aqua;
  font-size: 50px;
  letter-spacing: 2px;
}